/**	Orbit BitTorrent Tracker
**	CSS for Default Theme by NightWalker Yao (http://about.me/nightwalker.y)
**	Inspired by Plex !
**/
html{
	font-family:"Exo",Arial,sans-serif;
	word-wrap: break-word;
}
img{
	max-width: 100%;
}
/**
 * for the side nav
 */
header, main, footer {
	padding-left: 300px;
}
@media only screen and (max-width : 992px) {
	header, main, footer {
		padding-left: 0;
	}
}
@media only screen and (min-width : 993px) {
	a.pas-necessaire-sur-large{
		display: none;
	}
}
/* end side nav*/

.nav-principal-haut{
	padding-right: 0;
	padding-left: 5px;
	background: url('../img/topheaderbg.png') center center repeat;
}
.nav-principal-gauche{
	background: url('../img/npgauche.png') center center repeat;
}
span.reculer-gauche{
	position: relative;
	left: -12px;
}
.logotype{
	/* background: url('../img/nphgauche.png') center center repeat; */
	background: url('../img/topheaderbg.png') center center repeat;
}
.logolike{
	font-family: "Indie Flower";
	font-size: 47pt;
	font-weight: bold;
	padding: 10px 8px 4px 16px;
	overflow: hidden;
}
div#doomic{
	position: relative;
	z-index: 2;
	overflow: hidden;
	max-height: 100%;
}
div.simulatri div.collection, div.simulatri a.collection-item{
	background-color: transparent;
	border:none;
}
div.simulatri a.collection-item{
	color: #cbced0;
	font-size: 10pt;
	font-weight: 400;
	padding-left: 4em !important;
}
div.simulatri a.collection-item:hover{
	color: #fff;
	background-color: #455a64 !important;
}
div.collapsible-header{
	color: #b0beb3;
	font-weight: bold;
}
div.searchbox-wrapper{
	margin: 0 1em;
}
a.subheader b{
	color: rgba(249, 190, 35, 0.85);
	text-transform: uppercase;
}
div.Deroulant-appz{
	background-color: rgba(43, 60, 75, 0.9)
}
main{
	background-color: white; /*#23232c;*/
	color: #4e4e51;; /*#cbced0;*/
	margin: 0;
	min-height: 100%;
	word-wrap: break-word;
	padding-top: 1.5em;
	padding-right: 4px;
}
.smoky{
	color: #cbced0;
}
h1.titre-principal{
	margin: 0;
	padding:15px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #626262
}
h1{
	font-size: 28pt;
}
h2{
	font-size: 24pt;
	font-weight: 500;
	padding: 15px 15px 7px 15px;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
h4{
	font-size: 18pt;
	font-weight: 500;
	padding: 10px;
	font-family: "Montserrat", sans-serif;
}
h2 i.material-icons{
	font-size: 27pt;
}
table.liste-torrents{
	color: #2a313c;
}
table.liste-torrents th{
	border-bottom: 2px solid #cbced0;
	border-top: 1px solid #cbced0;
	border-left: 1px solid #cbced0;
	border-right: 1px solid #cbced0;
}
table.liste-torrents td{
	border: 1px solid #cbced0;
	padding: 5px;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.small{
	font-size: small;
}
.underlined{
	text-decoration: underline;
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}
.block{
	display: block;
	clear: both;
	min-width: 98%;
}
.btn-1{
	background-color: #626262;
	color: white;
}
.p-1{
	padding: 1em;
}
.m-1{
	margin: 1em;
}
.m-2{
	margin: 2em;
}
.ms-2{
	margin-left: 2em;
	margin-right: 2em;
}
.ml-1{
	margin-left: 1em;
}
.mr-1{
	margin-right: 1em;
}
.mt-1{
	margin-top: 1em;
}
.mb-1{
	margin-bottom: 1em;
}
.pl-1{
	padding-left: 1em;
}
.pr-1{
	padding-right: 1em;
}
.pt-1{
	padding-top: 1em;
}
.pb-1{
	padding-bottom: 1em;
}
.marginless{
	margin:0 !important;
}
.borderless{
	border:none;
}
.paddingless{
	padding: 0;
}
.contenu-nouvelles{
	font-size: 12pt;
}
#dpdTorrents li, #dpdCommunaute li{
	background: url('../img/220059.png') center center repeat;
	line-height: 13px;
	min-height: 13px;
	text-align: center;
	/* border-left: 1px solid #3e5564;
	border-right: 1px solid #3e5564; */
	border-bottom: 1px solid #3e5564;
}
#dpdTorrents li a, #dpdCommunaute li a{
	line-height: 13px;
	font-size: 10pt;
	color: #cbced0;
}
#dpdMonCompte{
	width: 460px;
	height: 240px;
	overflow: hidden;
	background: url('../img/topheaderbg.png') center center repeat;
	padding: 12px;
}
.top-user-card-inner{
	border: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.1);
	border-radius: 7px 7px 0 0;
	line-height: 1.4;
}
.top-user-card-inner img{
	border-radius: 4px 4px 0 0;
}
.top-uer-card-intro{
	background-color: rgba(0,0,0,0.2);
	padding-top: 7px;
}
.top-user-card-rank{
	font-size: 8pt;
	font-family: "Montserrat", "Exo", sans-serif;
}
.top-user-card-linkz span{
	height: 28px;
	overflow: hidden;
}
.top-user-card-linkz span *{
	padding: 0 !important;
	line-height: 1 !important;
}
.top-user-card-linkz span i{
	font-size: 12pt;
}
.top-user-card-linkz span a{
	font-size: 11pt;
}
.top-user-card-linkz span a:hover{
	background-color: transparent;
	font-weight: bold;
}
.top-user-card-extras{
	line-height: 1.4;
	background-color: rgba(0,0,0,0.1);
	padding: 5px 12px;
	text-align: center;
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.2);
	font-weight: 400;
}
#dpdNotifications{
	background: url('../img/220059.png') center center repeat;
	color: #cbced0;
	width: 400px;
	overflow: hidden;
	height: auto !important;
}
.tout-voir{
	line-height: 1 !important;
	overflow: hidden;
	margin-top: -2em;
}
#dpdNotifications button{
	color: #cbced0;
	cursor: pointer;
	text-align: left !important;
	padding: 7px 0 0 0;
	margin: 0;
	width: 100%;
}
#dpdNotifications button:hover{
	background-color: rgba(0,0,0,0.3) !important;
}
.ligne-notification{
	font-size: 10pt;
	height: 65px !important;
	margin-top: 1px !important;
}
.ligne-notification.unseen{
	background-color: rgba(0,0,0,0.2) !important;
	border-left: 4px solid #039be5;
}
.ligne-notification small{
	font-size: 9pt;
}
.n-icone{
	font-size: 14pt !important;
	line-height: 10px !important;
}
table.liste-fichiers-torrent th, table.liste-fichiers-torrent td{
	padding: 4px;
}
table.liste-fichiers-torrent th{
	border-bottom: 2px solid darkgray;
}
div.derniers-termes-recherche{
	padding: 0 2em 1em 2em
}
div.lisez-moi-upload i.material-icons{
	font-size: 7em;
}
div.lisez-moi-upload div.info-wrap{
	vertical-align: middle; margin-top: 2em
}
.theme-bouton{
	background-color: rgba(249, 190, 35, 0.85);
}
.theme-bouton:hover{
	background-color: rgba(249, 190, 35, 1.0);
}
div.torrent-fichier-wrap,div.champ-torrent-nom{
	margin: 0 5%
}
.block{
	display: block;clear: both;
}
div.row.loginform div{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	clear: both;
}
div.my-avatar{
	padding: 1em;
	background-color: #1b1b1b;
}
div.col.my-infos p{
	margin: 0 0 7px 0;
}
div.col.my-infos p span i.iicone{
	position: relative;
	top:3px;
	font-size: 12pt;
}
.securitaire p{
	background: url('../img/topheaderbg.png') center center repeat;
	padding: 7px auto;
}
.torrent-comments{
	border: 1px solid #cbced0;
	padding: 1em !important;
	margin: 0.7em !important;
}
.torrent-comments h2{
	background-color: rgba(0,0,0,0.1) !important;
	margin: -0.5em;
	padding: 0.4em;
}
.user-card-inner{
	border: 1px solid #cbced0;
	border-radius: 7px 7px 0 0;
	line-height: 1.4;
}
.comment-card{
	position: relative;
}
.comment-card-text{
	position: absolute;
	z-index: 2;
	border: 1px solid #cbced0;
	border-radius: 7px;
	padding: 1em 1em 1em 2em;
}
.comment-card::before{
	content: " ";
	width: 40px; height: 40px;
	background-color: #f5f5f5;
	position: absolute;
	transform: rotate(50deg);
	left: 0px;
	top: 10px;
	overflow: hidden;
	z-index: 1;
	border: 1px solid #cbced0;
}
.hello_modal .modal-header{
	padding: 0.5em !important;
	font-size: 16pt;
}
.modal-icon{
	position: relative;
	top: 4px;
}
.user-rank-icon{
	font-size: 46pt !important;
}
